.container {
  width: 888px;
  padding: 24px;
  display: flex;
  column-gap: 24px;
  border-radius: 20px;

  border: 1px solid #000;

  margin-left: auto;
  margin-right: auto;
}

.modalOpen {
  background-color: rgba(11, 12, 13, 0.4);
}

.photoWrapper {
  width: 290px;
  height: 310px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  width: 526px;
  height: 310px;
  text-align: start;

  display: flex;
  flex-direction: column;
}

.titlePrice {
  color: #101828;
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.priceFavorit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}

.favoriteBtn {
  background-color: inherit;
}

.ratingLocation {
  display: flex;
  column-gap: 16px;
  justify-content: flex-start;

  font-size: 16px;
  margin-bottom: 24px;
}

.star {
  fill: #ffc531;
}

.rating::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #101828;
  z-index: -1;
}

.location {
  fill: none;
  stroke: #000;
}

.heartBlack {
  fill: #fff;
  stroke: #000;
}

.heartRed {
  fill: #ff0000;
  stroke: #ff0000;
}

.description {
  color: #475467;
  text-align: start;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.btn {
  border-radius: 200px;
  padding: 16px 40px;
  background-color: #e44848;
  width: 166px;

  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: auto;
}

.btn:hover {
  background-color: #d84343;
}
